/* === LEFT COLUMN (SIDEBAR USER PROFILE) ===*/
/*.sidebar-inner .media*/
.col-sm-3 .col-md-2 .sidebar{
	padding: 0px 30px 15px;
	margin: 20px -15px 0 -15px;
	border-bottom: 1px solid #1F2429;
	color: #fff;
}