
/* === LEFT COLUMN (SIDEBAR USER PROFILE) ===*/
/*.sidebar-inner .media*/
.col-sm-3 .col-md-2 .sidebar{
	padding: 0px 30px 15px;
	margin: 20px -15px 0 -15px;
	border-bottom: 1px solid #1F2429;
	color: #fff;
}

/* ========================================================================
 * ========================================================================
 * ====== Overrides ======================================================= 
 */

body{
	/*background-color: #e9eaed;*/
	background-color: #f4f5f7;
}

a {
	color: #25ad9f;
}

.nav-sidebar > li >a {
 	/*color: #8B91A0; */ /* Light Grey - Matches Dark Blue */
 	color: #f7f7f7;
}

 .nav > li > a:hover {
 	/*background-color: #121515;*/ /* Matches Dark-Blue*/
 	background-color: #676767;  /* Light Grey*/
 	color: #fff;
 }


 /* === LEFT COLUMN (SIDEBAR USER PROFILE) ===*/

 /* === LEFT COLUMN (SIDEBAR USER PROFILE) === */
 .sidebar-inner{}
 .sidebar-inner .media{
 	/*padding: 0px 30px 15px;*/
 	padding: 0px 10px 15px;
 	margin: 20px -15px 0 -15px;
 	border-bottom: 1px solid #1F2429;
 	color: #fff;
 }
 .sidebar-inner .media a{
 	cursor: pointer;
 	font-size: 11px;
 	margin: 0 5px 0 0;
 	/*color: #8B91A0;*/ /* Light Grey - Matches Dark Blue Layout*/
 	color: #fff;
 }
 .sidebar-inner .media a:hover{
 	color: #fff;
 	text-decoration: none;
 }
 .sidebar-inner .media .pull-left{margin: 3px 10px 0 3px;}
 .sidebar-inner .media .media-object{width: 57px;}


 /* === TOP NAVBAR === */
 #top-navbar{
 	background-color: #fff;
 	border-color: #e0e0e0;
 }

 /* === BRAND - LOGO NAME === */
 .navbar-inverse .navbar-brand:hover,
 .navbar-inverse .navbar-brand:focus {
 	color: #25ad9f;
 	background-color: #d6d6d6; /* True Light Grey*/
 }

 .navbar-inverse .navbar-nav>li>a:hover,
 .navbar-inverse .navbar-nav>li>a:focus {
 	color: #25ad9f;
 	background-color: #d6d6d6;
 }

/* ========================================================================
* ======================================================================== */


/* ============================== Login ===================================
* ======================================================================== */

.navbar-default{
	/*background-color: #39DBAC;*/
	background-color: #25ad9f;
	border-bottom: none;
}

.navbar-brand{
	height: 70px;
}

.navbar-default .navbar-brand:hover{
	padding-bottom: 0px;
	color: #25ad9f;
	background-color: #d6d6d6; 	
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-default .navbar-toggle{
	border-color: #fff;
}

/* ==========================================
 * ==========================================*/

.navbar-form label{
	color:#fff;
	font-size:13px;
	font-weight:normal;
}
.navbar-form  .input-sm{
	border-radius:0;
}
legend a{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}
.login-btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	cursor:pointer;  
	text-shadow: 1px 1px 4px #8a8a8a;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	background: #209b8d;
	line-height:21px; 
	font-weight:bold; 
	padding: 3px 6px 3px 6px;
	border: solid #fdfdfd  1px;
	text-decoration: none;
}

.login-btn:hover {
	background: #25ad9f;
	text-decoration: none;
}
.signup-btn {
	background: #79bc64;
	background-image: -webkit-linear-gradient(top, #79bc64, #578843);
	background-image: -moz-linear-gradient(top, #79bc64, #578843);
	background-image: -ms-linear-gradient(top, #79bc64, #578843);
	background-image: -o-linear-gradient(top, #79bc64, #578843);
	background-image: linear-gradient(to bottom, #79bc64, #578843);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	text-shadow: 0px 1px 0px #898a88;
	-webkit-box-shadow: 0px 0px 0px #a4e388;
	-moz-box-shadow: 0px 0px 0px #a4e388;
	box-shadow: 0px 0px 0px #a4e388;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	border: solid #3b6e22  1px;
	text-decoration: none;
}

.signup-btn:hover {
	background: #79bc64;
	background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
	background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
	background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
	background-image: -o-linear-gradient(top, #79bc64, #5e7056);
	background-image: linear-gradient(to bottom, #79bc64, #5e7056);
	text-decoration: none;
}
.navbar-default .navbar-brand{
	color:#fff;
	font-size:30px;
	font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }


@media (min-width:768px) {
	#wrap{
		margin-bottom:89px;
	}
	.navbar-form .lt-left{
		float:left !important;
	}
	.navbar-form .lt-right{
		float:right !important;
	}
	.navbar-form .checkbox{
		display:block;
	}
	.navbar-form input[type="password"]{
		margin-left:3px;
	}
	.navbar-form .login-btn{
		margin-left: 10px;
		margin-top: 24px;
	}
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}

	.navbar-brand{
		padding:35px 15px;
	}
}